[submodule "pedestrians-video-2-carla/submodules/3d_pose_baseline_pytorch"]
	path = pedestrians-video-2-carla/submodules/3d_pose_baseline_pytorch
	url = https://github.com/weigq/3d_pose_baseline_pytorch.git
	ignore = dirty
[submodule "pedestrians-video-2-carla/submodules/PoseFormer"]
	path = pedestrians-video-2-carla/submodules/PoseFormer
	url = https://github.com/zczcwh/PoseFormer.git
	ignore = dirty
[submodule "pedestrians-video-2-carla/submodules/VideoPose3D"]
	path = pedestrians-video-2-carla/submodules/VideoPose3D
	url = https://github.com/facebookresearch/VideoPose3D.git
	ignore = dirty
